In [1]:
import os 
import pandas as pd 
import numpy as np 
import matplotlib as plt
from glob import glob

In [2]:
df=pd.read_csv('Flight data/2016/f_data16/On_Time_On_Time_Performance_2016_1.csv')
df

/var/folders/6x/gvhz2ks54ds4gc95v5bfv_7m0000gn/T/ipykernel_14121/3819043078.py:1: DtypeWarning: Columns (77) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('Flight data/2016/f_data16/On_Time_On_Time_Performance_2016_1.csv')

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2016,1,1,6,3,2016-01-06,AA,19805,AA,N4YBAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,1,1,7,4,2016-01-07,AA,19805,AA,N434AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,1,1,8,5,2016-01-08,AA,19805,AA,N541AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,1,1,9,6,2016-01-09,AA,19805,AA,N489AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016,1,1,10,7,2016-01-10,AA,19805,AA,N439AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445822,2016,1,1,3,7,2016-01-03,F9,20436,F9,N934FR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445823,2016,1,1,3,7,2016-01-03,F9,20436,F9,N934FR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445824,2016,1,1,3,7,2016-01-03,F9,20436,F9,N935FR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445825,2016,1,1,3,7,2016-01-03,F9,20436,F9,N935FR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445826,2016,1,1,3,7,2016-01-03,F9,20436,F9,N935FR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_1=pd.DataFrame()
for i in range(1,13):
    df=pd.read_csv(f'Flight data/2016/f_data16/On_Time_On_Time_Performance_2016_{i}.csv')
    df_1 = pd.concat([df,df_1])
df_1

/var/folders/6x/gvhz2ks54ds4gc95v5bfv_7m0000gn/T/ipykernel_14121/1153025655.py:3: DtypeWarning: Columns (77) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(f'Flight data/2016/f_data16/On_Time_On_Time_Performance_2016_{i}.csv')
/var/folders/6x/gvhz2ks54ds4gc95v5bfv_7m0000gn/T/ipykernel_14121/1153025655.py:3: DtypeWarning: Columns (77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(f'Flight data/2016/f_data16/On_Time_On_Time_Performance_2016_{i}.csv')
/var/folders/6x/gvhz2ks54ds4gc95v5bfv_7m0000gn/T/ipykernel_14121/1153025655.py:3: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(f'Flight data/2016/f_data16/On_Time_On_Time_Performance_2016_{i}.csv')
/var/folders/6x/gvhz2ks54ds4gc95v5bfv_7m0000gn/T/ipykernel_14121/1153025655.py:3: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(f'Flight data/2016/f_data16/On_Time_On_Time_Performance_2016_{i}.csv')
/var/folders/6x/gvhz2ks54ds4gc95v5bfv_7m0000gn/T/ipykernel_14121/1153025655.py:3: DtypeWarning: Columns (48,77,84,85) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(f'Flight data/2016/f_data16/On_Time_On_Time_Performance_2016_{i}.csv')
/var/folders/6x/gvhz2ks54ds4gc95v5bfv_7m0000gn/T/ipykernel_14121/1153025655.py:3: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(f'Flight data/2016/f_data16/On_Time_On_Time_Performance_2016_{i}.csv')
/var/folders/6x/gvhz2ks54ds4gc95v5bfv_7m0000gn/T/ipykernel_14121/1153025655.py:3: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(f'Flight data/2016/f_data16/On_Time_On_Time_Performance_2016_{i}.csv')
/var/folders/6x/gvhz2ks54ds4gc95v5bfv_7m0000gn/T/ipykernel_14121/1153025655.py:3: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(f'Flight data/2016/f_data16/On_Time_On_Time_Performance_2016_{i}.csv')
/var/folders/6x/gvhz2ks54ds4gc95v5bfv_7m0000gn/T/ipykernel_14121/1153025655.py:3: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(f'Flight data/2016/f_data16/On_Time_On_Time_Performance_2016_{i}.csv')
/var/folders/6x/gvhz2ks54ds4gc95v5bfv_7m0000gn/T/ipykernel_14121/1153025655.py:3: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(f'Flight data/2016/f_data16/On_Time_On_Time_Performance_2016_{i}.csv')
/var/folders/6x/gvhz2ks54ds4gc95v5bfv_7m0000gn/T/ipykernel_14121/1153025655.py:3: DtypeWarning: Columns (48,69,76,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(f'Flight data/2016/f_data16/On_Time_On_Time_Performance_2016_{i}.csv')
/var/folders/6x/gvhz2ks54ds4gc95v5bfv_7m0000gn/T/ipykernel_14121/1153025655.py:3: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(f'Flight data/2016/f_data16/On_Time_On_Time_Performance_2016_{i}.csv')

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2016,4,12,18,7,2016-12-18,AA,19805,AA,N3JHAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,4,12,19,1,2016-12-19,AA,19805,AA,N3DPAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,4,12,20,2,2016-12-20,AA,19805,AA,N3KUAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,4,12,21,3,2016-12-21,AA,19805,AA,N3FBAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016,4,12,22,4,2016-12-22,AA,19805,AA,N3BLAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445822,2016,1,1,3,7,2016-01-03,F9,20436,F9,N934FR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445823,2016,1,1,3,7,2016-01-03,F9,20436,F9,N934FR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445824,2016,1,1,3,7,2016-01-03,F9,20436,F9,N935FR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445825,2016,1,1,3,7,2016-01-03,F9,20436,F9,N935FR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445826,2016,1,1,3,7,2016-01-03,F9,20436,F9,N935FR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_2=pd.DataFrame()
for i in range(1,13):
    df=pd.read_csv(f'Flight data/2017/f_data17/On_Time_On_Time_Performance_2017_{i}.csv')
    df_2 = pd.concat([df,df_2])
df_2

/var/folders/6x/gvhz2ks54ds4gc95v5bfv_7m0000gn/T/ipykernel_14121/3074297545.py:3: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(f'Flight data/2017/f_data17/On_Time_On_Time_Performance_2017_{i}.csv')
/var/folders/6x/gvhz2ks54ds4gc95v5bfv_7m0000gn/T/ipykernel_14121/3074297545.py:3: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(f'Flight data/2017/f_data17/On_Time_On_Time_Performance_2017_{i}.csv')
/var/folders/6x/gvhz2ks54ds4gc95v5bfv_7m0000gn/T/ipykernel_14121/3074297545.py:3: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(f'Flight data/2017/f_data17/On_Time_On_Time_Performance_2017_{i}.csv')
/var/folders/6x/gvhz2ks54ds4gc95v5bfv_7m0000gn/T/ipykernel_14121/3074297545.py:3: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(f'Flight data/2017/f_data17/On_Time_On_Time_Performance_2017_{i}.csv')
/var/folders/6x/gvhz2ks54ds4gc95v5bfv_7m0000gn/T/ipykernel_14121/3074297545.py:3: DtypeWarning: Columns (48,77) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(f'Flight data/2017/f_data17/On_Time_On_Time_Performance_2017_{i}.csv')
/var/folders/6x/gvhz2ks54ds4gc95v5bfv_7m0000gn/T/ipykernel_14121/3074297545.py:3: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(f'Flight data/2017/f_data17/On_Time_On_Time_Performance_2017_{i}.csv')
/var/folders/6x/gvhz2ks54ds4gc95v5bfv_7m0000gn/T/ipykernel_14121/3074297545.py:3: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(f'Flight data/2017/f_data17/On_Time_On_Time_Performance_2017_{i}.csv')
/var/folders/6x/gvhz2ks54ds4gc95v5bfv_7m0000gn/T/ipykernel_14121/3074297545.py:3: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(f'Flight data/2017/f_data17/On_Time_On_Time_Performance_2017_{i}.csv')
/var/folders/6x/gvhz2ks54ds4gc95v5bfv_7m0000gn/T/ipykernel_14121/3074297545.py:3: DtypeWarning: Columns (77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(f'Flight data/2017/f_data17/On_Time_On_Time_Performance_2017_{i}.csv')
/var/folders/6x/gvhz2ks54ds4gc95v5bfv_7m0000gn/T/ipykernel_14121/3074297545.py:3: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(f'Flight data/2017/f_data17/On_Time_On_Time_Performance_2017_{i}.csv')
/var/folders/6x/gvhz2ks54ds4gc95v5bfv_7m0000gn/T/ipykernel_14121/3074297545.py:3: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(f'Flight data/2017/f_data17/On_Time_On_Time_Performance_2017_{i}.csv')
/var/folders/6x/gvhz2ks54ds4gc95v5bfv_7m0000gn/T/ipykernel_14121/3074297545.py:3: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(f'Flight data/2017/f_data17/On_Time_On_Time_Performance_2017_{i}.csv')

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2017,4,12,1,5,2017-12-01,OO,20304,OO,N954SW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017,4,12,1,5,2017-12-01,OO,20304,OO,N932SW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017,4,12,1,5,2017-12-01,OO,20304,OO,N114SY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017,4,12,1,5,2017-12-01,OO,20304,OO,N928EV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017,4,12,1,5,2017-12-01,OO,20304,OO,N915SW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450012,2017,1,1,24,2,2017-01-24,WN,19393,WN,N8504G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450013,2017,1,1,24,2,2017-01-24,WN,19393,WN,N8692F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450014,2017,1,1,24,2,2017-01-24,WN,19393,WN,N927WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450015,2017,1,1,24,2,2017-01-24,WN,19393,WN,N604SW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450016,2017,1,1,24,2,2017-01-24,WN,19393,WN,N449WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df = pd.concat([df_1,df_2])
df

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2016,4,12,18,7,2016-12-18,AA,19805,AA,N3JHAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,4,12,19,1,2016-12-19,AA,19805,AA,N3DPAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,4,12,20,2,2016-12-20,AA,19805,AA,N3KUAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,4,12,21,3,2016-12-21,AA,19805,AA,N3FBAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016,4,12,22,4,2016-12-22,AA,19805,AA,N3BLAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450012,2017,1,1,24,2,2017-01-24,WN,19393,WN,N8504G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450013,2017,1,1,24,2,2017-01-24,WN,19393,WN,N8692F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450014,2017,1,1,24,2,2017-01-24,WN,19393,WN,N927WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450015,2017,1,1,24,2,2017-01-24,WN,19393,WN,N604SW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450016,2017,1,1,24,2,2017-01-24,WN,19393,WN,N449WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
attributes=['Origin','Dest','FlightDate','FlightDate','Quarter','Year','Month','DayofMonth','DepTime','DepDel15','CRSDepTime','DepDelayMinutes','OriginAirportID','DestAirportID','ArrTime','CRSArrTime','ArrDel15','ArrDelayMinutes']
codes=['ATL','CLT','DEN','DFW','EWR','IAH','JFK','LAS','LAX','MCO','MIA','ORD','PHX','SEA','SFO']

In [7]:
df=df[attributes]
df

,Origin,Dest,FlightDate,FlightDate,Quarter,Year,Month,DayofMonth,DepTime,DepDel15,CRSDepTime,DepDelayMinutes,OriginAirportID,DestAirportID,ArrTime,CRSArrTime,ArrDel15,ArrDelayMinutes
0,MSP,ORD,2016-12-18,2016-12-18,4,2016,12,18,1556.0,0.0,1558,0.0,13487,13930,1754.0,1734,1.0,20.0
1,MSP,ORD,2016-12-19,2016-12-19,4,2016,12,19,1555.0,0.0,1558,0.0,13487,13930,1754.0,1734,1.0,20.0
2,MSP,ORD,2016-12-20,2016-12-20,4,2016,12,20,1555.0,0.0,1558,0.0,13487,13930,1731.0,1734,0.0,0.0
3,MSP,ORD,2016-12-21,2016-12-21,4,2016,12,21,1555.0,0.0,1558,0.0,13487,13930,1724.0,1734,0.0,0.0
4,MSP,ORD,2016-12-22,2016-12-22,4,2016,12,22,1600.0,0.0,1558,2.0,13487,13930,1726.0,1734,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450012,CMH,LAS,2017-01-24,2017-01-24,1,2017,1,24,757.0,0.0,800,0.0,11066,12889,933.0,930,0.0,3.0
450013,CMH,LAS,2017-01-24,2017-01-24,1,2017,1,24,1424.0,0.0,1430,0.0,11066,12889,1557.0,1555,0.0,2.0
450014,CMH,MCO,2017-01-24,2017-01-24,1,2017,1,24,1412.0,0.0,1415,0.0,11066,13204,1610.0,1630,0.0,0.0
450015,CMH,MCO,2017-01-24,2017-01-24,1,2017,1,24,751.0,0.0,755,0.0,11066,13204,953.0,1010,0.0,0.0
450016,CMH,MCO,2017-01-24,2017-01-24,1,2017,1,24,1615.0,0.0,1620,0.0,11066,13204,1809.0,1840,0.0,0.0

In [8]:
df = df[df["Origin"].isin(codes)]
df = df[df["Dest"].isin(codes)]
df.shape

(1877296, 18)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1877296 entries, 133 to 449481
Data columns (total 18 columns):
 #   Column           Dtype
---  ------           -----
 0   Origin           object
 1   Dest             object
 2   FlightDate       object
 3   FlightDate       object
 4   Quarter          int64
 5   Year             int64
 6   Month            int64
 7   DayofMonth       int64
 8   DepTime          float64
 9   DepDel15         float64
 10  CRSDepTime       int64
 11  DepDelayMinutes  float64
 12  OriginAirportID  int64
 13  DestAirportID    int64
 14  ArrTime          float64
 15  CRSArrTime       int64
 16  ArrDel15         float64
 17  ArrDelayMinutes  float64
dtypes: float64(6), int64(8), object(4)
memory usage: 272.1+ MB

In [10]:
df.isna().sum()

Origin                 0
Dest                   0
FlightDate             0
FlightDate             0
Quarter                0
Year                   0
Month                  0
DayofMonth             0
DepTime            20980
DepDel15           20987
CRSDepTime             0
DepDelayMinutes    20987
OriginAirportID        0
DestAirportID          0
ArrTime            22080
CRSArrTime             0
ArrDel15           25860
ArrDelayMinutes    25860
dtype: int64

In [11]:
df

,Origin,Dest,FlightDate,FlightDate,Quarter,Year,Month,DayofMonth,DepTime,DepDel15,CRSDepTime,DepDelayMinutes,OriginAirportID,DestAirportID,ArrTime,CRSArrTime,ArrDel15,ArrDelayMinutes
133,MCO,ORD,2016-12-01,2016-12-01,4,2016,12,1,1404.0,0.0,1400,4.0,13204,13930,1554.0,1601,0.0,0.0
134,MCO,ORD,2016-12-02,2016-12-02,4,2016,12,2,1410.0,0.0,1400,10.0,13204,13930,1602.0,1601,0.0,1.0
135,MCO,ORD,2016-12-03,2016-12-03,4,2016,12,3,1351.0,0.0,1400,0.0,13204,13930,1534.0,1601,0.0,0.0
136,MCO,ORD,2016-12-04,2016-12-04,4,2016,12,4,1603.0,1.0,1400,123.0,13204,13930,1809.0,1601,1.0,128.0
137,MCO,ORD,2016-12-05,2016-12-05,4,2016,12,5,1402.0,0.0,1400,2.0,13204,13930,1557.0,1601,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449455,ATL,MCO,2017-01-24,2017-01-24,1,2017,1,24,1817.0,0.0,1820,0.0,10397,13204,1944.0,1950,0.0,0.0
449456,ATL,MCO,2017-01-24,2017-01-24,1,2017,1,24,1326.0,0.0,1330,0.0,10397,13204,1445.0,1450,0.0,0.0
449457,ATL,MCO,2017-01-24,2017-01-24,1,2017,1,24,1519.0,1.0,1450,29.0,10397,13204,1643.0,1615,1.0,28.0
449480,ATL,PHX,2017-01-24,2017-01-24,1,2017,1,24,1724.0,0.0,1725,0.0,10397,14107,1948.0,1940,0.0,8.0
449481,ATL,PHX,2017-01-24,2017-01-24,1,2017,1,24,1014.0,0.0,1015,0.0,10397,14107,1238.0,1240,0.0,0.0

In [12]:
df = df.drop_duplicates()
df = df.dropna(how = "any", axis = 0)

In [13]:
df.shape

(1851433, 18)

In [14]:
os.getcwd()

'/Users/prithvikiran/Desktop/BrightProject'

In [15]:
w=pd.read_json('weather/ATL/2016-11.json')
w=pd.DataFrame(w)
w

                                                      data
request  [{'query': 'ATL, Hartsfield-Jackson Atlanta In...
weather  [{'mintempC': '19', 'maxtempF': '84', 'sunHour...

In [16]:
PATH = r"weather"
EXT = "*.json"
files = [file
                 for path, subdir, files in os.walk(PATH)
                 for file in glob(os.path.join(path, EXT))]
print(files)

['weather/IAH/2014-3.json', 'weather/IAH/2015-7.json', 'weather/IAH/2016-2.json', 'weather/IAH/2013-1.json', 'weather/IAH/2017-6.json', 'weather/IAH/2015-11.json', 'weather/IAH/2014-10.json', 'weather/IAH/2014-11.json', 'weather/IAH/2015-10.json', 'weather/IAH/2017-7.json', 'weather/IAH/2016-3.json', 'weather/IAH/2015-6.json', 'weather/IAH/2014-2.json', 'weather/IAH/2016-11.json', 'weather/IAH/2014-9.json', 'weather/IAH/2013-12.json', 'weather/IAH/2016-8.json', 'weather/IAH/2017-10.json', 'weather/IAH/2014-5.json', 'weather/IAH/2015-1.json', 'weather/IAH/2016-4.json', 'weather/IAH/2013-7.json', 'weather/IAH/2017-1.json', 'weather/IAH/2013-6.json', 'weather/IAH/2016-5.json', 'weather/IAH/2014-4.json', 'weather/IAH/2017-11.json', 'weather/IAH/2016-9.json', 'weather/IAH/2016-10.json', 'weather/IAH/2014-8.json', 'weather/IAH/2017-12.json', 'weather/IAH/2013-9.json', 'weather/IAH/2013-10.json', 'weather/IAH/2017-2.json', 'weather/IAH/2013-5.json', 'weather/IAH/2016-6.json', 'weather/IAH/2015-3.json', 'weather/IAH/2014-7.json', 'weather/IAH/2014-6.json', 'weather/IAH/2015-2.json', 'weather/IAH/2016-7.json', 'weather/IAH/2013-4.json', 'weather/IAH/2017-3.json', 'weather/IAH/2016-12.json', 'weather/IAH/2013-11.json', 'weather/IAH/2013-8.json', 'weather/IAH/2017-4.json', 'weather/IAH/2013-3.json', 'weather/IAH/2015-5.json', 'weather/IAH/2014-1.json', 'weather/IAH/2017-8.json', 'weather/IAH/2014-12.json', 'weather/IAH/2015-9.json', 'weather/IAH/2015-12.json', 'weather/IAH/2015-8.json', 'weather/IAH/2017-9.json', 'weather/IAH/2015-4.json', 'weather/IAH/2016-1.json', 'weather/IAH/2013-2.json', 'weather/IAH/2017-5.json', 'weather/DEN/2014-3.json', 'weather/DEN/2015-7.json', 'weather/DEN/2016-2.json', 'weather/DEN/2013-1.json', 'weather/DEN/2017-6.json', 'weather/DEN/2015-11.json', 'weather/DEN/2014-10.json', 'weather/DEN/2014-11.json', 'weather/DEN/2015-10.json', 'weather/DEN/2017-7.json', 'weather/DEN/2016-3.json', 'weather/DEN/2015-6.json', 'weather/DEN/2014-2.json', 'weather/DEN/2016-11.json', 'weather/DEN/2014-9.json', 'weather/DEN/2013-12.json', 'weather/DEN/2016-8.json', 'weather/DEN/2017-10.json', 'weather/DEN/2014-5.json', 'weather/DEN/2015-1.json', 'weather/DEN/2016-4.json', 'weather/DEN/2013-7.json', 'weather/DEN/2017-1.json', 'weather/DEN/2013-6.json', 'weather/DEN/2016-5.json', 'weather/DEN/2014-4.json', 'weather/DEN/2017-11.json', 'weather/DEN/2016-9.json', 'weather/DEN/2016-10.json', 'weather/DEN/2014-8.json', 'weather/DEN/2017-12.json', 'weather/DEN/2013-9.json', 'weather/DEN/2013-10.json', 'weather/DEN/2017-2.json', 'weather/DEN/2013-5.json', 'weather/DEN/2016-6.json', 'weather/DEN/2015-3.json', 'weather/DEN/2014-7.json', 'weather/DEN/2014-6.json', 'weather/DEN/2015-2.json', 'weather/DEN/2016-7.json', 'weather/DEN/2013-4.json', 'weather/DEN/2017-3.json', 'weather/DEN/2016-12.json', 'weather/DEN/2013-11.json', 'weather/DEN/2013-8.json', 'weather/DEN/2017-4.json', 'weather/DEN/2013-3.json', 'weather/DEN/2015-5.json', 'weather/DEN/2014-1.json', 'weather/DEN/2017-8.json', 'weather/DEN/2014-12.json', 'weather/DEN/2015-9.json', 'weather/DEN/2015-12.json', 'weather/DEN/2015-8.json', 'weather/DEN/2017-9.json', 'weather/DEN/2015-4.json', 'weather/DEN/2016-1.json', 'weather/DEN/2013-2.json', 'weather/DEN/2017-5.json', 'weather/LAX/2014-3.json', 'weather/LAX/2015-7.json', 'weather/LAX/2016-2.json', 'weather/LAX/2013-1.json', 'weather/LAX/2017-6.json', 'weather/LAX/2015-11.json', 'weather/LAX/2014-10.json', 'weather/LAX/2014-11.json', 'weather/LAX/2015-10.json', 'weather/LAX/2017-7.json', 'weather/LAX/2016-3.json', 'weather/LAX/2015-6.json', 'weather/LAX/2014-2.json', 'weather/LAX/2016-11.json', 'weather/LAX/2014-9.json', 'weather/LAX/2013-12.json', 'weather/LAX/2016-8.json', 'weather/LAX/2017-10.json', 'weather/LAX/2014-5.json', 'weather/LAX/2015-1.json', 'weather/LAX/2016-4.json', 'weather/LAX/2013-7.json', 'weather/LAX/2017-1.json', 'weather/LAX/2013-6.json', 'weather/LAX/2016-5.json', 'weather/LAX/2014-4.json', 'weather/LAX/2017-11.json', 'weather/LAX/2016-9.json', 'weather/LAX/2016-10.json', 'weather/LAX/2014-8.json', 'weather/LAX/2017-12.json', 'weather/LAX/2013-9.json', 'weather/LAX/2013-10.json', 'weather/LAX/2017-2.json', 'weather/LAX/2013-5.json', 'weather/LAX/2016-6.json', 'weather/LAX/2015-3.json', 'weather/LAX/2014-7.json', 'weather/LAX/2014-6.json', 'weather/LAX/2015-2.json', 'weather/LAX/2016-7.json', 'weather/LAX/2013-4.json', 'weather/LAX/2017-3.json', 'weather/LAX/2016-12.json', 'weather/LAX/2013-11.json', 'weather/LAX/2013-8.json', 'weather/LAX/2017-4.json', 'weather/LAX/2013-3.json', 'weather/LAX/2015-5.json', 'weather/LAX/2014-1.json', 'weather/LAX/2017-8.json', 'weather/LAX/2014-12.json', 'weather/LAX/2015-9.json', 'weather/LAX/2015-12.json', 'weather/LAX/2015-8.json', 'weather/LAX/2017-9.json', 'weather/LAX/2015-4.json', 'weather/LAX/2016-1.json', 'weather/LAX/2013-2.json', 'weather/LAX/2017-5.json', 'weather/ATL/2014-3.json', 'weather/ATL/2015-7.json', 'weather/ATL/2016-2.json', 'weather/ATL/2013-1.json', 'weather/ATL/2017-6.json', 'weather/ATL/2015-11.json', 'weather/ATL/2014-10.json', 'weather/ATL/2014-11.json', 'weather/ATL/2015-10.json', 'weather/ATL/2017-7.json', 'weather/ATL/2016-3.json', 'weather/ATL/2015-6.json', 'weather/ATL/2014-2.json', 'weather/ATL/2016-11.json', 'weather/ATL/2014-9.json', 'weather/ATL/2013-12.json', 'weather/ATL/2016-8.json', 'weather/ATL/2017-10.json', 'weather/ATL/2014-5.json', 'weather/ATL/2015-1.json', 'weather/ATL/2016-4.json', 'weather/ATL/2013-7.json', 'weather/ATL/2017-1.json', 'weather/ATL/2013-6.json', 'weather/ATL/2016-5.json', 'weather/ATL/2014-4.json', 'weather/ATL/2017-11.json', 'weather/ATL/2016-9.json', 'weather/ATL/2016-10.json', 'weather/ATL/2014-8.json', 'weather/ATL/2017-12.json', 'weather/ATL/2013-9.json', 'weather/ATL/2013-10.json', 'weather/ATL/2017-2.json', 'weather/ATL/2013-5.json', 'weather/ATL/2016-6.json', 'weather/ATL/2015-3.json', 'weather/ATL/2014-7.json', 'weather/ATL/2014-6.json', 'weather/ATL/2015-2.json', 'weather/ATL/2016-7.json', 'weather/ATL/2013-4.json', 'weather/ATL/2017-3.json', 'weather/ATL/2016-12.json', 'weather/ATL/2013-11.json', 'weather/ATL/2013-8.json', 'weather/ATL/2017-4.json', 'weather/ATL/2013-3.json', 'weather/ATL/2015-5.json', 'weather/ATL/2014-1.json', 'weather/ATL/2017-8.json', 'weather/ATL/2014-12.json', 'weather/ATL/2015-9.json', 'weather/ATL/2015-12.json', 'weather/ATL/2015-8.json', 'weather/ATL/2017-9.json', 'weather/ATL/2015-4.json', 'weather/ATL/2016-1.json', 'weather/ATL/2013-2.json', 'weather/ATL/2017-5.json', 'weather/ATL/.ipynb_checkpoints/2016-11-checkpoint.json', 'weather/ATL/.ipynb_checkpoints/2016-8-checkpoint.json', 'weather/ATL/.ipynb_checkpoints/2016-9-checkpoint.json', 'weather/ATL/.ipynb_checkpoints/2015-8-checkpoint.json', 'weather/ATL/.ipynb_checkpoints/2016-1-checkpoint.json', 'weather/CLT/2014-3.json', 'weather/CLT/2015-7.json', 'weather/CLT/2016-2.json', 'weather/CLT/2013-1.json', 'weather/CLT/2017-6.json', 'weather/CLT/2015-11.json', 'weather/CLT/2014-10.json', 'weather/CLT/2014-11.json', 'weather/CLT/2015-10.json', 'weather/CLT/2017-7.json', 'weather/CLT/2016-3.json', 'weather/CLT/2015-6.json', 'weather/CLT/2014-2.json', 'weather/CLT/2016-11.json', 'weather/CLT/2014-9.json', 'weather/CLT/2013-12.json', 'weather/CLT/2016-8.json', 'weather/CLT/2017-10.json', 'weather/CLT/2014-5.json', 'weather/CLT/2015-1.json', 'weather/CLT/2016-4.json', 'weather/CLT/2013-7.json', 'weather/CLT/2017-1.json', 'weather/CLT/2013-6.json', 'weather/CLT/2016-5.json', 'weather/CLT/2014-4.json', 'weather/CLT/2017-11.json', 'weather/CLT/2016-9.json', 'weather/CLT/2016-10.json', 'weather/CLT/2014-8.json', 'weather/CLT/2017-12.json', 'weather/CLT/2013-9.json', 'weather/CLT/2013-10.json', 'weather/CLT/2017-2.json', 'weather/CLT/2013-5.json', 'weather/CLT/2016-6.json', 'weather/CLT/2015-3.json', 'weather/CLT/2014-7.json', 'weather/CLT/2014-6.json', 'weather/CLT/2015-2.json', 'weather/CLT/2016-7.json', 'weather/CLT/2013-4.json', 'weather/CLT/2017-3.json', 'weather/CLT/2016-12.json', 'weather/CLT/2013-11.json', 'weather/CLT/2013-8.json', 'weather/CLT/2017-4.json', 'weather/CLT/2013-3.json', 'weather/CLT/2015-5.json', 'weather/CLT/2014-1.json', 'weather/CLT/2017-8.json', 'weather/CLT/2014-12.json', 'weather/CLT/2015-9.json', 'weather/CLT/2015-12.json', 'weather/CLT/2015-8.json', 'weather/CLT/2017-9.json', 'weather/CLT/2015-4.json', 'weather/CLT/2016-1.json', 'weather/CLT/2013-2.json', 'weather/CLT/2017-5.json', 'weather/PHX/2014-3.json', 'weather/PHX/2015-7.json', 'weather/PHX/2016-2.json', 'weather/PHX/2013-1.json', 'weather/PHX/2017-6.json', 'weather/PHX/2015-11.json', 'weather/PHX/2014-10.json', 'weather/PHX/2014-11.json', 'weather/PHX/2015-10.json', 'weather/PHX/2017-7.json', 'weather/PHX/2016-3.json', 'weather/PHX/2015-6.json', 'weather/PHX/2014-2.json', 'weather/PHX/2016-11.json', 'weather/PHX/2014-9.json', 'weather/PHX/2013-12.json', 'weather/PHX/2016-8.json', 'weather/PHX/2017-10.json', 'weather/PHX/2014-5.json', 'weather/PHX/2015-1.json', 'weather/PHX/2016-4.json', 'weather/PHX/2013-7.json', 'weather/PHX/2017-1.json', 'weather/PHX/2013-6.json', 'weather/PHX/2016-5.json', 'weather/PHX/2014-4.json', 'weather/PHX/2017-11.json', 'weather/PHX/2016-9.json', 'weather/PHX/2016-10.json', 'weather/PHX/2014-8.json', 'weather/PHX/2017-12.json', 'weather/PHX/2013-9.json', 'weather/PHX/2013-10.json', 'weather/PHX/2017-2.json', 'weather/PHX/2013-5.json', 'weather/PHX/2016-6.json', 'weather/PHX/2015-3.json', 'weather/PHX/2014-7.json', 'weather/PHX/2014-6.json', 'weather/PHX/2015-2.json', 'weather/PHX/2016-7.json', 'weather/PHX/2013-4.json', 'weather/PHX/2017-3.json', 'weather/PHX/2016-12.json', 'weather/PHX/2013-11.json', 'weather/PHX/2013-8.json', 'weather/PHX/2017-4.json', 'weather/PHX/2013-3.json', 'weather/PHX/2015-5.json', 'weather/PHX/2014-1.json', 'weather/PHX/2017-8.json', 'weather/PHX/2014-12.json', 'weather/PHX/2015-9.json', 'weather/PHX/2015-12.json', 'weather/PHX/2015-8.json', 'weather/PHX/2017-9.json', 'weather/PHX/2015-4.json', 'weather/PHX/2016-1.json', 'weather/PHX/2013-2.json', 'weather/PHX/2017-5.json', 'weather/JFK/2014-3.json', 'weather/JFK/2015-7.json', 'weather/JFK/2016-2.json', 'weather/JFK/2013-1.json', 'weather/JFK/2017-6.json', 'weather/JFK/2015-11.json', 'weather/JFK/2014-10.json', 'weather/JFK/2014-11.json', 'weather/JFK/2015-10.json', 'weather/JFK/2017-7.json', 'weather/JFK/2016-3.json', 'weather/JFK/2015-6.json', 'weather/JFK/2014-2.json', 'weather/JFK/2016-11.json', 'weather/JFK/2014-9.json', 'weather/JFK/2013-12.json', 'weather/JFK/2016-8.json', 'weather/JFK/2017-10.json', 'weather/JFK/2014-5.json', 'weather/JFK/2015-1.json', 'weather/JFK/2016-4.json', 'weather/JFK/2013-7.json', 'weather/JFK/2017-1.json', 'weather/JFK/2013-6.json', 'weather/JFK/2016-5.json', 'weather/JFK/2014-4.json', 'weather/JFK/2017-11.json', 'weather/JFK/2016-9.json', 'weather/JFK/2016-10.json', 'weather/JFK/2014-8.json', 'weather/JFK/2017-12.json', 'weather/JFK/2013-9.json', 'weather/JFK/2013-10.json', 'weather/JFK/2017-2.json', 'weather/JFK/2013-5.json', 'weather/JFK/2016-6.json', 'weather/JFK/2015-3.json', 'weather/JFK/2014-7.json', 'weather/JFK/2014-6.json', 'weather/JFK/2015-2.json', 'weather/JFK/2016-7.json', 'weather/JFK/2013-4.json', 'weather/JFK/2017-3.json', 'weather/JFK/2016-12.json', 'weather/JFK/2013-11.json', 'weather/JFK/2013-8.json', 'weather/JFK/2017-4.json', 'weather/JFK/2013-3.json', 'weather/JFK/2015-5.json', 'weather/JFK/2014-1.json', 'weather/JFK/2017-8.json', 'weather/JFK/2014-12.json', 'weather/JFK/2015-9.json', 'weather/JFK/2015-12.json', 'weather/JFK/2015-8.json', 'weather/JFK/2017-9.json', 'weather/JFK/2015-4.json', 'weather/JFK/2016-1.json', 'weather/JFK/2013-2.json', 'weather/JFK/2017-5.json', 'weather/DFW/2014-3.json', 'weather/DFW/2015-7.json', 'weather/DFW/2016-2.json', 'weather/DFW/2013-1.json', 'weather/DFW/2017-6.json', 'weather/DFW/2015-11.json', 'weather/DFW/2014-10.json', 'weather/DFW/2014-11.json', 'weather/DFW/2015-10.json', 'weather/DFW/2017-7.json', 'weather/DFW/2016-3.json', 'weather/DFW/2015-6.json', 'weather/DFW/2014-2.json', 'weather/DFW/2016-11.json', 'weather/DFW/2014-9.json', 'weather/DFW/2013-12.json', 'weather/DFW/2016-8.json', 'weather/DFW/2017-10.json', 'weather/DFW/2014-5.json', 'weather/DFW/2015-1.json', 'weather/DFW/2016-4.json', 'weather/DFW/2013-7.json', 'weather/DFW/2017-1.json', 'weather/DFW/2013-6.json', 'weather/DFW/2016-5.json', 'weather/DFW/2014-4.json', 'weather/DFW/2017-11.json', 'weather/DFW/2016-9.json', 'weather/DFW/2016-10.json', 'weather/DFW/2014-8.json', 'weather/DFW/2017-12.json', 'weather/DFW/2013-9.json', 'weather/DFW/2013-10.json', 'weather/DFW/2017-2.json', 'weather/DFW/2013-5.json', 'weather/DFW/2016-6.json', 'weather/DFW/2015-3.json', 'weather/DFW/2014-7.json', 'weather/DFW/2014-6.json', 'weather/DFW/2015-2.json', 'weather/DFW/2016-7.json', 'weather/DFW/2013-4.json', 'weather/DFW/2017-3.json', 'weather/DFW/2016-12.json', 'weather/DFW/2013-11.json', 'weather/DFW/2013-8.json', 'weather/DFW/2017-4.json', 'weather/DFW/2013-3.json', 'weather/DFW/2015-5.json', 'weather/DFW/2014-1.json', 'weather/DFW/2017-8.json', 'weather/DFW/2014-12.json', 'weather/DFW/2015-9.json', 'weather/DFW/2015-12.json', 'weather/DFW/2015-8.json', 'weather/DFW/2017-9.json', 'weather/DFW/2015-4.json', 'weather/DFW/2016-1.json', 'weather/DFW/2013-2.json', 'weather/DFW/2017-5.json', 'weather/EWR/2014-3.json', 'weather/EWR/2015-7.json', 'weather/EWR/2016-2.json', 'weather/EWR/2013-1.json', 'weather/EWR/2017-6.json', 'weather/EWR/2015-11.json', 'weather/EWR/2014-10.json', 'weather/EWR/2014-11.json', 'weather/EWR/2015-10.json', 'weather/EWR/2017-7.json', 'weather/EWR/2016-3.json', 'weather/EWR/2015-6.json', 'weather/EWR/2014-2.json', 'weather/EWR/2016-11.json', 'weather/EWR/2014-9.json', 'weather/EWR/2013-12.json', 'weather/EWR/2016-8.json', 'weather/EWR/2017-10.json', 'weather/EWR/2014-5.json', 'weather/EWR/2015-1.json', 'weather/EWR/2016-4.json', 'weather/EWR/2013-7.json', 'weather/EWR/2017-1.json', 'weather/EWR/2013-6.json', 'weather/EWR/2016-5.json', 'weather/EWR/2014-4.json', 'weather/EWR/2017-11.json', 'weather/EWR/2016-9.json', 'weather/EWR/2016-10.json', 'weather/EWR/2014-8.json', 'weather/EWR/2017-12.json', 'weather/EWR/2013-9.json', 'weather/EWR/2013-10.json', 'weather/EWR/2017-2.json', 'weather/EWR/2013-5.json', 'weather/EWR/2016-6.json', 'weather/EWR/2015-3.json', 'weather/EWR/2014-7.json', 'weather/EWR/2014-6.json', 'weather/EWR/2015-2.json', 'weather/EWR/2016-7.json', 'weather/EWR/2013-4.json', 'weather/EWR/2017-3.json', 'weather/EWR/2016-12.json', 'weather/EWR/2013-11.json', 'weather/EWR/2013-8.json', 'weather/EWR/2017-4.json', 'weather/EWR/2013-3.json', 'weather/EWR/2015-5.json', 'weather/EWR/2014-1.json', 'weather/EWR/2017-8.json', 'weather/EWR/2014-12.json', 'weather/EWR/2015-9.json', 'weather/EWR/2015-12.json', 'weather/EWR/2015-8.json', 'weather/EWR/2017-9.json', 'weather/EWR/2015-4.json', 'weather/EWR/2016-1.json', 'weather/EWR/2013-2.json', 'weather/EWR/2017-5.json', 'weather/SFO/2014-3.json', 'weather/SFO/2015-7.json', 'weather/SFO/2016-2.json', 'weather/SFO/2013-1.json', 'weather/SFO/2017-6.json', 'weather/SFO/2015-11.json', 'weather/SFO/2014-10.json', 'weather/SFO/2014-11.json', 'weather/SFO/2015-10.json', 'weather/SFO/2017-7.json', 'weather/SFO/2016-3.json', 'weather/SFO/2015-6.json', 'weather/SFO/2014-2.json', 'weather/SFO/2016-11.json', 'weather/SFO/2014-9.json', 'weather/SFO/2013-12.json', 'weather/SFO/2016-8.json', 'weather/SFO/2017-10.json', 'weather/SFO/2014-5.json', 'weather/SFO/2015-1.json', 'weather/SFO/2016-4.json', 'weather/SFO/2013-7.json', 'weather/SFO/2017-1.json', 'weather/SFO/2013-6.json', 'weather/SFO/2016-5.json', 'weather/SFO/2014-4.json', 'weather/SFO/2017-11.json', 'weather/SFO/2016-9.json', 'weather/SFO/2016-10.json', 'weather/SFO/2014-8.json', 'weather/SFO/2017-12.json', 'weather/SFO/2013-9.json', 'weather/SFO/2013-10.json', 'weather/SFO/2017-2.json', 'weather/SFO/2013-5.json', 'weather/SFO/2016-6.json', 'weather/SFO/2015-3.json', 'weather/SFO/2014-7.json', 'weather/SFO/2014-6.json', 'weather/SFO/2015-2.json', 'weather/SFO/2016-7.json', 'weather/SFO/2013-4.json', 'weather/SFO/2017-3.json', 'weather/SFO/2016-12.json', 'weather/SFO/2013-11.json', 'weather/SFO/2013-8.json', 'weather/SFO/2017-4.json', 'weather/SFO/2013-3.json', 'weather/SFO/2015-5.json', 'weather/SFO/2014-1.json', 'weather/SFO/2017-8.json', 'weather/SFO/2014-12.json', 'weather/SFO/2015-9.json', 'weather/SFO/2015-12.json', 'weather/SFO/2015-8.json', 'weather/SFO/2017-9.json', 'weather/SFO/2015-4.json', 'weather/SFO/2016-1.json', 'weather/SFO/2013-2.json', 'weather/SFO/2017-5.json', 'weather/ORD/2014-3.json', 'weather/ORD/2015-7.json', 'weather/ORD/2016-2.json', 'weather/ORD/2013-1.json', 'weather/ORD/2017-6.json', 'weather/ORD/2015-11.json', 'weather/ORD/2014-10.json', 'weather/ORD/2014-11.json', 'weather/ORD/2015-10.json', 'weather/ORD/2017-7.json', 'weather/ORD/2016-3.json', 'weather/ORD/2015-6.json', 'weather/ORD/2014-2.json', 'weather/ORD/2016-11.json', 'weather/ORD/2014-9.json', 'weather/ORD/2013-12.json', 'weather/ORD/2016-8.json', 'weather/ORD/2017-10.json', 'weather/ORD/2014-5.json', 'weather/ORD/2015-1.json', 'weather/ORD/2016-4.json', 'weather/ORD/2013-7.json', 'weather/ORD/2017-1.json', 'weather/ORD/2013-6.json', 'weather/ORD/2016-5.json', 'weather/ORD/2014-4.json', 'weather/ORD/2017-11.json', 'weather/ORD/2016-9.json', 'weather/ORD/2016-10.json', 'weather/ORD/2014-8.json', 'weather/ORD/2017-12.json', 'weather/ORD/2013-9.json', 'weather/ORD/2013-10.json', 'weather/ORD/2017-2.json', 'weather/ORD/2013-5.json', 'weather/ORD/2016-6.json', 'weather/ORD/2015-3.json', 'weather/ORD/2014-7.json', 'weather/ORD/2014-6.json', 'weather/ORD/2015-2.json', 'weather/ORD/2016-7.json', 'weather/ORD/2013-4.json', 'weather/ORD/2017-3.json', 'weather/ORD/2016-12.json', 'weather/ORD/2013-11.json', 'weather/ORD/2013-8.json', 'weather/ORD/2017-4.json', 'weather/ORD/2013-3.json', 'weather/ORD/2015-5.json', 'weather/ORD/2014-1.json', 'weather/ORD/2017-8.json', 'weather/ORD/2014-12.json', 'weather/ORD/2015-9.json', 'weather/ORD/2015-12.json', 'weather/ORD/2015-8.json', 'weather/ORD/2017-9.json', 'weather/ORD/2015-4.json', 'weather/ORD/2016-1.json', 'weather/ORD/2013-2.json', 'weather/ORD/2017-5.json', 'weather/SEA/2014-3.json', 'weather/SEA/2015-7.json', 'weather/SEA/2016-2.json', 'weather/SEA/2013-1.json', 'weather/SEA/2017-6.json', 'weather/SEA/2015-11.json', 'weather/SEA/2014-10.json', 'weather/SEA/2014-11.json', 'weather/SEA/2015-10.json', 'weather/SEA/2017-7.json', 'weather/SEA/2016-3.json', 'weather/SEA/2015-6.json', 'weather/SEA/2014-2.json', 'weather/SEA/2016-11.json', 'weather/SEA/2014-9.json', 'weather/SEA/2013-12.json', 'weather/SEA/2016-8.json', 'weather/SEA/2017-10.json', 'weather/SEA/2014-5.json', 'weather/SEA/2015-1.json', 'weather/SEA/2016-4.json', 'weather/SEA/2013-7.json', 'weather/SEA/2017-1.json', 'weather/SEA/2013-6.json', 'weather/SEA/2016-5.json', 'weather/SEA/2014-4.json', 'weather/SEA/2017-11.json', 'weather/SEA/2016-9.json', 'weather/SEA/2016-10.json', 'weather/SEA/2014-8.json', 'weather/SEA/2017-12.json', 'weather/SEA/2013-9.json', 'weather/SEA/2013-10.json', 'weather/SEA/2017-2.json', 'weather/SEA/2013-5.json', 'weather/SEA/2016-6.json', 'weather/SEA/2015-3.json', 'weather/SEA/2014-7.json', 'weather/SEA/2014-6.json', 'weather/SEA/2015-2.json', 'weather/SEA/2016-7.json', 'weather/SEA/2013-4.json', 'weather/SEA/2017-3.json', 'weather/SEA/2016-12.json', 'weather/SEA/2013-11.json', 'weather/SEA/2013-8.json', 'weather/SEA/2017-4.json', 'weather/SEA/2013-3.json', 'weather/SEA/2015-5.json', 'weather/SEA/2014-1.json', 'weather/SEA/2017-8.json', 'weather/SEA/2014-12.json', 'weather/SEA/2015-9.json', 'weather/SEA/2015-12.json', 'weather/SEA/2015-8.json', 'weather/SEA/2017-9.json', 'weather/SEA/2015-4.json', 'weather/SEA/2016-1.json', 'weather/SEA/2013-2.json', 'weather/SEA/2017-5.json', 'weather/LAS/2014-3.json', 'weather/LAS/2015-7.json', 'weather/LAS/2016-2.json', 'weather/LAS

In [17]:
len(files)

905

In [18]:
for i in files:
    parts = i.split(os.path.sep)
    print(parts[1])

IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA

In [19]:
l = []
for i in files:
    df_1 = pd.read_json(i)
    parts = i.split(os.path.sep)
    temp = df_1["data"]["weather"]
    weather_df = pd.json_normalize(temp, record_path = 'hourly', meta = 'date')
    weather_df['ACODE'] = parts[1]
    l.append(weather_df)

In [20]:
beta=pd.DataFrame()
beta=pd.concat(l)
beta

,windspeedKmph,FeelsLikeF,winddir16Point,FeelsLikeC,DewPointC,windspeedMiles,DewPointF,HeatIndexF,cloudcover,HeatIndexC,...,weatherCode,tempC,tempF,WindChillF,WindChillC,winddirDegree,humidity,time,date,ACODE
0,14,60,SSW,16,16,9,60,60,73,16,...,119,16,60,60,16,196,98,0,2014-03-01,IAH
1,14,61,SSW,16,16,9,61,61,73,16,...,119,16,61,61,16,197,98,100,2014-03-01,IAH
2,14,62,SSW,17,16,9,61,62,72,17,...,119,17,62,62,17,199,98,200,2014-03-01,IAH
3,14,63,SSW,17,17,9,62,63,71,17,...,119,17,63,63,17,201,98,300,2014-03-01,IAH
4,14,63,SSW,17,17,8,63,63,74,17,...,119,17,63,63,17,202,98,400,2014-03-01,IAH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,19,96,ESE,36,23,12,74,96,0,36,...,113,31,87,87,31,110,65,1900,2017-05-31,MIA
740,18,94,ESE,35,23,11,74,94,0,35,...,113,30,86,86,30,110,67,2000,2017-05-31,MIA
741,17,92,ESE,33,23,10,74,92,0,33,...,113,29,85,85,29,110,69,2100,2017-05-31,MIA
742,15,91,ESE,33,23,9,73,91,8,33,...,113,29,84,84,29,113,70,2200,2017-05-31,MIA
743,14,91,ESE,33,23,9,73,91,15,33,...,119,29,84,84,29,116,70,2300,2017-05-31,MIA

In [21]:
df

,Origin,Dest,FlightDate,FlightDate,Quarter,Year,Month,DayofMonth,DepTime,DepDel15,CRSDepTime,DepDelayMinutes,OriginAirportID,DestAirportID,ArrTime,CRSArrTime,ArrDel15,ArrDelayMinutes
133,MCO,ORD,2016-12-01,2016-12-01,4,2016,12,1,1404.0,0.0,1400,4.0,13204,13930,1554.0,1601,0.0,0.0
134,MCO,ORD,2016-12-02,2016-12-02,4,2016,12,2,1410.0,0.0,1400,10.0,13204,13930,1602.0,1601,0.0,1.0
135,MCO,ORD,2016-12-03,2016-12-03,4,2016,12,3,1351.0,0.0,1400,0.0,13204,13930,1534.0,1601,0.0,0.0
136,MCO,ORD,2016-12-04,2016-12-04,4,2016,12,4,1603.0,1.0,1400,123.0,13204,13930,1809.0,1601,1.0,128.0
137,MCO,ORD,2016-12-05,2016-12-05,4,2016,12,5,1402.0,0.0,1400,2.0,13204,13930,1557.0,1601,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449455,ATL,MCO,2017-01-24,2017-01-24,1,2017,1,24,1817.0,0.0,1820,0.0,10397,13204,1944.0,1950,0.0,0.0
449456,ATL,MCO,2017-01-24,2017-01-24,1,2017,1,24,1326.0,0.0,1330,0.0,10397,13204,1445.0,1450,0.0,0.0
449457,ATL,MCO,2017-01-24,2017-01-24,1,2017,1,24,1519.0,1.0,1450,29.0,10397,13204,1643.0,1615,1.0,28.0
449480,ATL,PHX,2017-01-24,2017-01-24,1,2017,1,24,1724.0,0.0,1725,0.0,10397,14107,1948.0,1940,0.0,8.0
449481,ATL,PHX,2017-01-24,2017-01-24,1,2017,1,24,1014.0,0.0,1015,0.0,10397,14107,1238.0,1240,0.0,0.0

In [22]:
df = df.reset_index(drop=True)
df

,Origin,Dest,FlightDate,FlightDate,Quarter,Year,Month,DayofMonth,DepTime,DepDel15,CRSDepTime,DepDelayMinutes,OriginAirportID,DestAirportID,ArrTime,CRSArrTime,ArrDel15,ArrDelayMinutes
0,MCO,ORD,2016-12-01,2016-12-01,4,2016,12,1,1404.0,0.0,1400,4.0,13204,13930,1554.0,1601,0.0,0.0
1,MCO,ORD,2016-12-02,2016-12-02,4,2016,12,2,1410.0,0.0,1400,10.0,13204,13930,1602.0,1601,0.0,1.0
2,MCO,ORD,2016-12-03,2016-12-03,4,2016,12,3,1351.0,0.0,1400,0.0,13204,13930,1534.0,1601,0.0,0.0
3,MCO,ORD,2016-12-04,2016-12-04,4,2016,12,4,1603.0,1.0,1400,123.0,13204,13930,1809.0,1601,1.0,128.0
4,MCO,ORD,2016-12-05,2016-12-05,4,2016,12,5,1402.0,0.0,1400,2.0,13204,13930,1557.0,1601,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1851428,ATL,MCO,2017-01-24,2017-01-24,1,2017,1,24,1817.0,0.0,1820,0.0,10397,13204,1944.0,1950,0.0,0.0
1851429,ATL,MCO,2017-01-24,2017-01-24,1,2017,1,24,1326.0,0.0,1330,0.0,10397,13204,1445.0,1450,0.0,0.0
1851430,ATL,MCO,2017-01-24,2017-01-24,1,2017,1,24,1519.0,1.0,1450,29.0,10397,13204,1643.0,1615,1.0,28.0
1851431,ATL,PHX,2017-01-24,2017-01-24,1,2017,1,24,1724.0,0.0,1725,0.0,10397,14107,1948.0,1940,0.0,8.0
1851432,ATL,PHX,2017-01-24,2017-01-24,1,2017,1,24,1014.0,0.0,1015,0.0,10397,14107,1238.0,1240,0.0,0.0

In [25]:
print(df.columns)
print(beta.columns)
print(df.info)
print(beta.info)
print(df.describe)
print(beta.describe)

Index(['Origin', 'Dest', 'FlightDate', 'FlightDate', 'Quarter', 'Year',
       'Month', 'DayofMonth', 'DepTime', 'DepDel15', 'CRSDepTime',
       'DepDelayMinutes', 'OriginAirportID', 'DestAirportID', 'ArrTime',
       'CRSArrTime', 'ArrDel15', 'ArrDelayMinutes'],
      dtype='object')
Index(['windspeedKmph', 'FeelsLikeF', 'winddir16Point', 'FeelsLikeC',
       'DewPointC', 'windspeedMiles', 'DewPointF', 'HeatIndexF', 'cloudcover',
       'HeatIndexC', 'precipMM', 'weatherIconUrl', 'WindGustMiles', 'pressure',
       'WindGustKmph', 'weatherDesc', 'visibility', 'weatherCode', 'tempC',
       'tempF', 'WindChillF', 'WindChillC', 'winddirDegree', 'humidity',
       'time', 'date', 'ACODE'],
      dtype='object')
<bound method DataFrame.info of         Origin Dest  FlightDate  FlightDate  Quarter  Year  Month  DayofMonth  \
0          MCO  ORD  2016-12-01  2016-12-01        4  2016     12           1
1          MCO  ORD  2016-12-02  2016-12-02        4  2016     12           2
2          MCO  ORD  2016-12-03  2016-12-03        4  2016     12           3
3          MCO  ORD  2016-12-04  2016-12-04        4  2016     12           4
4          MCO  ORD  2016-12-05  2016-12-05        4  2016     12           5
...        ...  ...         ...         ...      ...   ...    ...         ...
1851428    ATL  MCO  2017-01-24  2017-01-24        1  2017      1          24
1851429    ATL  MCO  2017-01-24  2017-01-24        1  2017      1          24
1851430    ATL  MCO  2017-01-24  2017-01-24        1  2017      1          24
1851431    ATL  PHX  2017-01-24  2017-01-24        1  2017      1          24
1851432    ATL  PHX  2017-01-24  2017-01-24        1  2017      1          24

         DepTime  DepDel15  CRSDepTime  DepDelayMinutes  OriginAirportID  \
0         1404.0       0.0        1400              4.0            13204
1         1410.0       0.0        1400             10.0            13204
2         1351.0       0.0        1400              0.0            13204
3         1603.0       1.0        1400            123.0            13204
4         1402.0       0.0        1400              2.0            13204
...          ...       ...         ...              ...              ...
1851428   1817.0       0.0        1820              0.0            10397
1851429   1326.0       0.0        1330              0.0            10397
1851430   1519.0       1.0        1450             29.0            10397
1851431   1724.0       0.0        1725              0.0            10397
1851432   1014.0       0.0        1015              0.0            10397

         DestAirportID  ArrTime  CRSArrTime  ArrDel15  ArrDelayMinutes
0                13930   1554.0        1601       0.0              0.0
1                13930   1602.0        1601       0.0              1.0
2                13930   1534.0        1601       0.0              0.0
3                13930   1809.0        1601       1.0            128.0
4                13930   1557.0        1601       0.0              0.0
...                ...      ...         ...       ...              ...
1851428          13204   1944.0        1950       0.0              0.0
1851429          13204   1445.0        1450       0.0              0.0
1851430          13204   1643.0        1615       1.0             28.0
1851431          14107   1948.0        1940       0.0              8.0
1851432          14107   1238.0        1240       0.0              0.0

[1851433 rows x 18 columns]>
<bound method DataFrame.info of     windspeedKmph FeelsLikeF winddir16Point FeelsLikeC DewPointC  \
0              14         60            SSW         16        16
1              14         61            SSW         16        16
2              14         62            SSW         17        16
3              14         63            SSW         17        17
4              14         63            SSW         17        17
..            ...        ...            ...        ...       ...
739            19         96            ESE         36        23
740            18         94            ESE         35        23
741            17         92            ESE         33        23
742            15         91            ESE         33        23
743            14         91            ESE         33        23

    windspeedMiles DewPointF HeatIndexF cloudcover HeatIndexC  ...  \
0                9        60         60         73         16  ...
1                9        61         61         73         16  ...
2                9        61         62         72         17  ...
3                9        62         63         71         17  ...
4                8        63         63         74         17  ...
..             ...       ...        ...        ...        ...  ...
739             12        74         96          0         36  ...
740             11        74         94          0         35  ...
741             10        74         92          0         33  ...
742              9        73         91          8         33  ...
743              9        73         91         15         33  ...

    weatherCode tempC tempF WindChillF WindChillC winddirDegree humidity  \
0           119    16    60         60         16           196       98
1           119    16    61         61         16           197       98
2           119    17    62         62         17           199       98
3           119    17    63         63         17           201       98
4           119    17    63         63         17           202       98
..          ...   ...   ...        ...        ...           ...      ...
739         113    31    87         87         31           110       65
740         113    30    86         86         30           110       67
741         113    29    85         85         29           110       69
742         113    29    84         84         29           113       70
743         119    29    84         84         29           116       70

     time        date ACODE
0       0  2014-03-01   IAH
1     100  2014-03-01   IAH
2     200  2014-03-01   IAH
3     300  2014-03-01   IAH
4     400  2014-03-01   IAH
..    ...         ...   ...
739  1900  2017-05-31   MIA
740  2000  2017-05-31   MIA
741  2100  2017-05-31   MIA
742  2200  2017-05-31   MIA
743  2300  2017-05-31   MIA

[661032 rows x 27 columns]>
<bound method NDFrame.describe of         Origin Dest  FlightDate  FlightDate  Quarter  Year  Month  DayofMonth  \
0          MCO  ORD  2016-12-01  2016-12-01        4  2016     12           1
1          MCO  ORD  2016-12-02  2016-12-02        4  2016     12           2
2          MCO  ORD  2016-12-03  2016-12-03        4  2016     12           3
3          MCO  ORD  2016-12-04  2016-12-04        4  2016     12           4
4          MCO  ORD  2016-12-05  2016-12-05        4  2016     12           5
...        ...  ...         ...         ...      ...   ...    ...         ...
1851428    ATL  MCO  2017-01-24  2017-01-24        1  2017      1          24
1851429    ATL  MCO  2017-01-24  2017-01-24        1  2017      1          24
1851430    ATL  MCO  2017-01-24  2017-01-24        1  2017      1          24
1851431    ATL  PHX  2017-01-24  2017-01-24        1  2017      1          24
1851432    ATL  PHX  2017-01-24  2017-01-24        1  2017      1          24

         DepTime  DepDel15  CRSDepTime  DepDelayMinutes  OriginAirportID  \
0         1404.0       0.0        1400              4.0            13204
1         1410.0       0.0        1400             10.0            13204
2         1351.0       0.0        1400              0.0            13204
3         1603.0       1.0        1400            123.0            13204
4         1402.0       0.0        1400              2.0            13204
...          ...       ...         ...              ...              ...
1851428   1817.0       0.0        1820              0.0            10397
1851429   1326.0       0.0        1330              0.0            10397
1851430   1519.0       1.0        1450             29.0            10397
1851431   1724.0       0.0        1725              0.0            10397
1851432   1014.0       0.0        1015              0.0            10397

         DestAirportID  ArrTime  CRSArrTime  ArrDel15  ArrDelayMinutes
0                13930   1554.0        1601       0.0              0.0
1                13930   1602.0        1601       0.0              1.0
2                13930   1534.0        1601       0.0              0.0
3                13930   1809.0        1601       1.0            128.0
4                13930   1557.0        1601       0.0              0.0
...                ...      ...         ...       ...              ...
1851428          13204   1944.0        1950       0.0              0.0
1851429          13204   1445.0        1450       0.0              0.0
1851430          13204   1643.0        1615       1.0             28.0
1851431          14107   1948.0        1940       0.0              8.0
1851432          14107   1238.0        1240       0.0              0.0

[1851433 rows x 18 columns]>
<bound method NDFrame.describe of     windspeedKmph FeelsLikeF winddir16Point FeelsLikeC DewPointC  \
0              14         60            SSW         16        16
1              14         61            SSW         16        16
2              14         62            SSW         17        16
3              14         63            SSW         17        17
4              14         63            SSW         17        17
..            ...        ...            ...        ...       ...
739            19         96            ESE         36        23
740            18         94            ESE         35        23
741            17         92            ESE         33        23
742            15         91            ESE         33        23
743            14         91            ESE         33        23

    windspeedMiles DewPointF HeatIndexF cloudcover HeatIndexC  ...  \
0                9        60         60         73         16  ...
1                9        61         61         73         16  ...
2                9        61         62         72         17  ...
3                9        62         63         71         17  ...
4                8        63         63         74         17  ...
..             ...       ...        ...        ...        ...  ...
739             12        74         96          0         36  ...
740             11        74         94          0         35  ...
741             10        74         92          0         33  ...
742              9        73         91          8         33  ...
743              9        73         91         15         33  ...

    weatherCode tempC tempF WindChillF WindChillC winddirDegree humidity  \
0           119    16    60         60         16           196       98
1           119    16    61         61         16           197       98
2           119    17    62         62         17           199       98
3           119    17    63         63         17           201       98
4           119    17    63         63         17           202       98
..          ...   ...   ...        ...        ...           ...      ...
739         113    31    87         87         31           110       65
740         113    30    86         86         30           110       67
741         113    29    85         85         29           110       69
742         113    29    84         84         29           113       70
743         119    29    84         84         29           116       70

     time        date ACODE
0       0  2014-03-01   IAH
1     100  2014-03-01   IAH
2     200  2014-03-01   IAH
3     300  2014-03-01   IAH
4     400  2014-03-01   IAH
..    ...         ...   ...
739  1900  2017-05-31   MIA
740  2000  2017-05-31   MIA
741  2100  2017-05-31   MIA
742  2200  2017-05-31   MIA
743  2300  2017-05-31   MIA

[661032 rows x 27 columns]>

In [27]:
df.to_csv('flight.csv',index=False)
beta.to_csv('weather.csv',index=False)

In [30]:
f_df=pd.read_csv('flight.csv')
w_df=pd.read_csv('weather.csv')
f_df.columns

Index(['Origin', 'Dest', 'FlightDate', 'FlightDate.1', 'Quarter', 'Year',
       'Month', 'DayofMonth', 'DepTime', 'DepDel15', 'CRSDepTime',
       'DepDelayMinutes', 'OriginAirportID', 'DestAirportID', 'ArrTime',
       'CRSArrTime', 'ArrDel15', 'ArrDelayMinutes'],
      dtype='object')

In [38]:
w_df.shape

(661032, 27)

In [33]:
f_df.isna().sum()

Origin             0
Dest               0
FlightDate         0
FlightDate.1       0
Quarter            0
Year               0
Month              0
DayofMonth         0
DepTime            0
DepDel15           0
CRSDepTime         0
DepDelayMinutes    0
OriginAirportID    0
DestAirportID      0
ArrTime            0
CRSArrTime         0
ArrDel15           0
ArrDelayMinutes    0
dtype: int64

In [34]:
w_df.isna().sum()

windspeedKmph     0
FeelsLikeF        0
winddir16Point    0
FeelsLikeC        0
DewPointC         0
windspeedMiles    0
DewPointF         0
HeatIndexF        0
cloudcover        0
HeatIndexC        0
precipMM          0
weatherIconUrl    0
WindGustMiles     0
pressure          0
WindGustKmph      0
weatherDesc       0
visibility        0
weatherCode       0
tempC             0
tempF             0
WindChillF        0
WindChillC        0
winddirDegree     0
humidity          0
time              0
date              0
ACODE             0
dtype: int64

In [39]:
co=["windspeedKmph", "winddirDegree", "weatherCode", "precipMM", "visibility", "pressure", "cloudcover", "DewPointF", "WindGustKmph", "tempF", "WindChillF", "humidity", "date", "time", "ACODE"]

In [40]:
w_df=w_df[co]

In [41]:
w_df

,windspeedKmph,winddirDegree,weatherCode,precipMM,visibility,pressure,cloudcover,DewPointF,WindGustKmph,tempF,WindChillF,humidity,date,time,ACODE
0,14,196,119,0.0,10,1013,73,60,28,60,60,98,2014-03-01,0,IAH
1,14,197,119,0.0,10,1013,73,61,27,61,61,98,2014-03-01,100,IAH
2,14,199,119,0.0,10,1014,72,61,26,62,62,98,2014-03-01,200,IAH
3,14,201,119,0.1,10,1014,71,62,25,63,63,98,2014-03-01,300,IAH
4,14,202,119,0.1,8,1014,74,63,23,63,63,98,2014-03-01,400,IAH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
661027,19,110,113,0.0,10,1018,0,74,22,87,87,65,2017-05-31,1900,MIA
661028,18,110,113,0.0,10,1018,0,74,21,86,86,67,2017-05-31,2000,MIA
661029,17,110,113,0.0,10,1018,0,74,20,85,85,69,2017-05-31,2100,MIA
661030,15,113,113,0.0,10,1018,8,73,19,84,84,70,2017-05-31,2200,MIA
661031,14,116,119,0.0,10,1018,15,73,18,84,84,70,2017-05-31,2300,MIA

In [42]:
f_df

,Origin,Dest,FlightDate,FlightDate.1,Quarter,Year,Month,DayofMonth,DepTime,DepDel15,CRSDepTime,DepDelayMinutes,OriginAirportID,DestAirportID,ArrTime,CRSArrTime,ArrDel15,ArrDelayMinutes
0,MCO,ORD,2016-12-01,2016-12-01,4,2016,12,1,1404.0,0.0,1400,4.0,13204,13930,1554.0,1601,0.0,0.0
1,MCO,ORD,2016-12-02,2016-12-02,4,2016,12,2,1410.0,0.0,1400,10.0,13204,13930,1602.0,1601,0.0,1.0
2,MCO,ORD,2016-12-03,2016-12-03,4,2016,12,3,1351.0,0.0,1400,0.0,13204,13930,1534.0,1601,0.0,0.0
3,MCO,ORD,2016-12-04,2016-12-04,4,2016,12,4,1603.0,1.0,1400,123.0,13204,13930,1809.0,1601,1.0,128.0
4,MCO,ORD,2016-12-05,2016-12-05,4,2016,12,5,1402.0,0.0,1400,2.0,13204,13930,1557.0,1601,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1851428,ATL,MCO,2017-01-24,2017-01-24,1,2017,1,24,1817.0,0.0,1820,0.0,10397,13204,1944.0,1950,0.0,0.0
1851429,ATL,MCO,2017-01-24,2017-01-24,1,2017,1,24,1326.0,0.0,1330,0.0,10397,13204,1445.0,1450,0.0,0.0
1851430,ATL,MCO,2017-01-24,2017-01-24,1,2017,1,24,1519.0,1.0,1450,29.0,10397,13204,1643.0,1615,1.0,28.0
1851431,ATL,PHX,2017-01-24,2017-01-24,1,2017,1,24,1724.0,0.0,1725,0.0,10397,14107,1948.0,1940,0.0,8.0
1851432,ATL,PHX,2017-01-24,2017-01-24,1,2017,1,24,1014.0,0.0,1015,0.0,10397,14107,1238.0,1240,0.0,0.0

In [43]:
f_df['CRSDepTime'] = pd.to_numeric(f_df['CRSDepTime'], errors='coerce')
f_df['rounded_time'] = f_df['CRSDepTime'].apply(lambda time: round(time / 100) * 100)

In [44]:
f_df['rounded_time']

0          1400
1          1400
2          1400
3          1400
4          1400
           ...
1851428    1800
1851429    1300
1851430    1400
1851431    1700
1851432    1000
Name: rounded_time, Length: 1851433, dtype: int64

In [45]:
f_df['CRSDepTime']

0          1400
1          1400
2          1400
3          1400
4          1400
           ...
1851428    1820
1851429    1330
1851430    1450
1851431    1725
1851432    1015
Name: CRSDepTime, Length: 1851433, dtype: int64

In [46]:
ml_df=pd.merge(f_df, w_df, how = "inner", left_on = ["rounded_time", "FlightDate", "Origin"], right_on=["time", "date", "ACODE"])

In [48]:
ml_df

,Origin,Dest,FlightDate,FlightDate.1,Quarter,Year,Month,DayofMonth,DepTime,DepDel15,...,pressure,cloudcover,DewPointF,WindGustKmph,tempF,WindChillF,humidity,date,time,ACODE
0,MCO,ORD,2016-12-01,2016-12-01,4,2016,12,1,1404.0,0.0,...,1015,61,67,18,84,82,62,2016-12-01,1400,MCO
1,MCO,MIA,2016-12-01,2016-12-01,4,2016,12,1,1510.0,1.0,...,1015,61,67,18,84,82,62,2016-12-01,1400,MCO
2,MCO,CLT,2016-12-01,2016-12-01,4,2016,12,1,1420.0,1.0,...,1015,61,67,18,84,82,62,2016-12-01,1400,MCO
3,MCO,EWR,2016-12-01,2016-12-01,4,2016,12,1,1518.0,1.0,...,1015,61,67,18,84,82,62,2016-12-01,1400,MCO
4,MCO,JFK,2016-12-01,2016-12-01,4,2016,12,1,1408.0,0.0,...,1015,61,67,18,84,82,62,2016-12-01,1400,MCO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1864948,DEN,LAS,2017-01-23,2017-01-23,1,2017,1,23,2132.0,0.0,...,1001,0,28,18,39,39,90,2017-01-23,2100,DEN
1864949,DEN,LAX,2017-01-23,2017-01-23,1,2017,1,23,2119.0,0.0,...,1001,0,28,18,39,39,90,2017-01-23,2100,DEN
1864950,DEN,PHX,2017-01-23,2017-01-23,1,2017,1,23,2119.0,1.0,...,1001,0,28,18,39,39,90,2017-01-23,2100,DEN
1864951,DEN,SEA,2017-01-23,2017-01-23,1,2017,1,23,2142.0,0.0,...,1001,0,28,18,39,39,90,2017-01-23,2100,DEN
1864952,DEN,SFO,2017-01-23,2017-01-23,1,2017,1,23,2140.0,0.0,...,1001,0,28,18,39,39,90,2017-01-23,2100,DEN

In [49]:
ml_df.to_csv('mer.csv',index=False)